extends layout

block content
  h1= title
  -let result = results
  div(class="container-fluid")
    div(class="row")
       each item,index in result
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Dogname:  #{item.Dogname}
          p dogsize:  #{item.dogsize}
          p dogcost:  #{item.dogcost}
  script.
    function buy(N) {
      N=N+1;
      alert('You purchased item '+N);
    }